{{#partial "content"}}

    <div class="container">
        <div>
            <div class="col-md-12" id="header2">
                <ul>
                    <li> <a href="/create/users/new">Create User</a></li>
                    <li><a href="/create/departments/new">Create Departments</a></li>
                    <li><a href="/create/generalNews/new">Create the General news</a></li>
                    <li> <a href="/create/departmentNews/new">Create the Department news</a></li>
                    <li><a href="/view/users">View Users</a></li>
                    <li><a href="/view/departments">View Departments</a></li>
                    <li><a href="/view/generalNews">View the General news</a></li>
                    <li><a href="/view/departmentNews">View the Department news</a></li>
                </ul>
            </div>
            <div class="col-md-9">
                <div>
                    {{#if users}}
                        {{#each users as |e|}}
                            <div class="col-md-4">
                                <div class="text">
                                    <p class="text" id={{e.id}}>{{e.name}}</p><br>
                                    <p class="text" id={{e.id}}>{{e.position}}</p><br>
                                    <p class="text" id={{e.id}}>{{e.role}}</p><br>
                                </div>
                                <br>
                            </div>
                        {{/each}}
                        <div class="col-md-6">
                            <h3>Department</h3>
                            <hr>
                            {{#each departments as |a|}}
                                <h3>{{a.name}}</h3>
                            {{/each}}
                        </div>
                        <p class="text s-title">Register a user <a href="/create/users/new">here</a></p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}